{% extends 'base.html' %}
{% block title %}
    Add category
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <h1>Add category</h1>
        <br/>
        <br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                <div class="mb-3 row">
                    <div class="col-sm-3">
                        <label class="col-sm-5 col-form-label">Category Name</label><br/>
                        <input type="text" class="form-control" name="name">
                    </div>
                </div>
                <button class="btn btn-secondary">Save category</button>
            </form>
        </div>
    {% endif %}
{% endblock %}
