{% extends 'base.html' %}
{% block title %}
    {{ category_name }} posts
{% endblock %}
<ul>
    {% block content %}
        <h1>Posts with category: {{ category_name }}</h1>
        {% if category_post %}
        {% for post in category_post %}
            <li><a href="{% url 'post-detail-url' post.pk %}">
                {{ post.title }}</a> - {{ post.author }}<br/>
                {{ post.body | truncatechars:100 | safe }}<br/><br/>
            </li>
        {% endfor %}
            {% else %}
            <li>There is no post with {{ category_name }} category</li>
        {% endif %}
        </ul>


    {% endblock %}
