{% extends 'base.html' %}
{% load static %}
{% block title %}
    Create post
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h1>Create Your Post</h1>
        <br/>
        <br/>
        <div class="form-group">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-secondary">Post</button>
            </form>
        </div>

        <script>
            var name = "{{ user.id }}"
            document.getElementById("auther_field").value = name;
        </script>
    {% else %}
        <img src="{% static 'blog/images/Access-denied_story.jpg' %}" alt="Access Denied">
    {% endif %}

{% endblock %}
