{% extends 'base.html' %}
{% if user.is_authenticated %}

{% block title %}
    Editing {{ post.title }}
{% endblock %}

{% block content %}
    <h1>Edit your post</h1>
    <br/>
    <br/>
    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-info">Save changes</button>
            <a href="{% url 'post-detail-url' post.slug %}" class="btn btn-secondary">Back</a>

        </form>
    </div>

{% endblock %}
{% endif %}