{% extends 'base.html' %}
{% load static %}

{% block title %}
    Editing {{ post.title }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h1>Edit your post</h1>
            <br/>
            <br/>
            <div class="form-group">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-outline-info">Save changes</button>
                    <a href="{% url 'post-detail-url' post.slug %}" class="btn btn-secondary">Back</a>

                </form>
            </div>
        {% else %}
            You are not allowed to EDIT someone's post :/
        {% endif %}
    {% else %}
        <img src="{% static 'images/access-denied.png' %}" alt="Access Denied">
    {% endif %}
{% endblock %}
