{% extends 'base.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <small>By: {{ post.author.first_name }} {{ post.author.last_name }} - At {{ post.pub_date | date:'d F Y' }}</small>
    <hr>
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}">
    {% endif %}
    <p>{{ post.body | safe }}</p>
    <br/>
    <br/>
    <a href="{% url 'home-url' %}" class="btn btn-secondary">Back</a>
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <a href="{% url 'edit-post-url' post.pk %}" class="btn btn-secondary">Edit</a>
            <a href="{% url 'delete-post-url' post.pk %}" class="btn btn-secondary">Delete</a>
        {% endif %}
        <br/>
        <hr>
        <form action="{% url 'like-post-url' post.slug %}" method="post">
            {% csrf_token %}
            {% if liked %}
                <button type="submit" name="post_like" value="{{ post.slug }}" class="btn btn-danger">
                    UnLike
                </button>
            {% else %}
                <button type="submit" name="post_like" value="{{ post.slug }}" class="btn btn-outline-danger">
                    Like
                </button>
            {% endif %}
            - {{ total_likes }} likes
        </form>
    {% else %}
        <br/>
        <br/>
        <small><a href="{% url 'login' %}">Login</a> to like and comment</small>
    {% endif %}
    <br/><br/>
    <img src="{{ post.author.profile.profile_pic.url }}" width=100 height=100 class="rounded-circle">
{% endblock %}