{% extends '_layout.html' %}

{% load static %}
{% block title %}
    Change Password
{% endblock %}

{% block content %}

    {% if user.is_authenticated %}
        <section id="page-header">
            <div class="row current-cat">
                <div class="col-full">
                    <h1>Change Your Password</h1>
                </div>
            </div>
        </section>
        <section id="bricks" class="with-top-sep">
            <div class="row current-cat">
                <div class="col-full">
                    <form method="POST">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <ul>
                            <li>
                                Your password can’t be too similar to your other personal information.
                            </li>
                            <li>
                                Your password must contain at least 8 characters.
                            </li>
                            <li>
                                Your password can’t be a commonly used password.
                            </li>
                            <li>
                                Your password can’t be entirely numeric.
                            </li>
                        </ul>
                        <button class="btn btn-secondary">Save Changes</button>
                    </form>
                </div>
            </div>
        </section>
    {% else %}
        <img src="{% static 'images/access-denied.png' %}" alt="Access Denied">
    {% endif %}

{% endblock %}