{% extends 'base.html' %}
{% load static %}
{% block title %}
    Change Password
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}

        <h1>Change Your Password</h1>
        <br/>
        <br/>
        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <ul>
                    <li>
                        Your password can’t be too similar to your other personal information.
                    </li>
                    <li>
                        Your password must contain at least 8 characters.
                    </li>
                    <li>
                        Your password can’t be a commonly used password.
                    </li>
                    <li>
                        Your password can’t be entirely numeric.
                    </li>
                </ul>
                <button class="btn btn-secondary">Save Changes</button>
            </form>
        </div>
    {% else %}
        <img src="{% static 'blog/images/Access-denied_story.jpg' %}" alt="Access Denied">

    {% endif %}
{% endblock %}