{% extends 'landing/_layout.html' %}
{% load static %}
{% block title %}
    Edit Settings
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <section id="page-header">
            <div class="row current-cat">
                <div class="col-full">
                    <h1>Edit Settings</h1>
                </div>
            </div>
        </section>
        <section id="bricks" class="with-top-sep">
            <div class="row current-cat">
                <div class="col-full">
                    <form method="POST">
                        {% csrf_token %}
                        {#            <p>First name:<br>{{ form.first_name }}</p>#}
                        {#            <p>Last name:<br>{{ form.last_name }}</p>#}
                        {#            <p>Username:<br>{{ form.username }}</p>#}
                        {#            <p>Email:<br>{{ form.email }}</p>#}
                        {#            <p>Last login:<br>{{ form.last_login }}</p>#}
                        {#            <p>Date joined:<br>{{ form.date_joined }}</p>#}
                        {#            <p>For change yor password, click <a href="{% url 'password-change-view-url' %}">here</a></p>#}
                        {{ form.as_p }}
                        <button class="btn full-width">Update Settings</button>
                    </form>
                </div>
            </div>
        </section>

    {% else %}
        <img src="{% static 'images/access-denied.png' %}" alt="Access Denied">
    {% endif %}
{% endblock %}