{% extends 'landing/_layout.html' %}
{% block title %}
    Success!
{% endblock %}

{% block content %}
    <section id="page-header">
        <div class="row current-cat">
            <div class="col-full">
                <h1>Your password updated successfully</h1>
            </div>
        </div>
    </section>
    <section id="bricks" class="with-top-sep">
        <div class="row current-cat">
            <div class="col-full">
                <h2 class="">Now you can back to the<a href="{% url 'home-url' %}" style="color: darkorange"> Diglog main
                    page.</a></h2>
            </div>
        </div>
    </section>
{% endblock %}