{% extends '_layout.html' %}
{% load static %}
{% block content %}

    <section id="content-wrap" class="site-page">
        <div class="row">
            <div class="col-twelve">
                <div class="primary-content">
                    <img src="{% static 'images/about-us.jpg' %}" alt="about us">
                    <h1 class="entry-title add-bottom">Learn More About Us</h1>
                    <p class="lead">I am Mohammad Mousapour, a bachelor's student at Mazust University in the field of
                        computer engineering. I am a site back-end developer.</p>
                    <div class="row block-1-2 block-tab-full">
                        <div class="bgrid">
                            <h3>How to reach me</h3>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}