{% extends '_layout.html' %}
{% block title %}
    Add category
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <section id="content-wrap" class="site-page">

            <div class="row">

                <div class="col-twelve">

                    <div class="primary-content">
                        <h1>Add category</h1>
                        <br/>
                        <br/>
                        <div class="form-field">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.media }}
                                <div class="mb-3 row">
                                    <label class="col-sm-5 col-form-label">Category Name
                                        <input type="text" class="full-width" name="name">
                                    </label>
                                    <br/>
                                    <button class="btn btn-secondary">Save category</button>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}
{% endblock %}
