{% extends '_layout.html' %}

{% load static %}
{% block title %}
    Create post
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <section id="page-header">
            <div class="row current-cat">
                <div class="col-full">
                    <h1>Create Your Post</h1>
                </div>
            </div>
        </section>
        {#        <section id="content-wrap" class="site-page">#}
        <section id="bricks" class="with-top-sep">
            <div class="row">
                <div class="col-twelve">
                    <div class="primary-content">
                        <div class="form-field">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                {{ form.media }}
                                {{ form.as_p }}
                                <button class="submit button-primary full-width-on-mobile">Post</button>
                            </form>
                        </div>
                        <script>
                            var name = "{{ user.id }}"
                            document.getElementById("auther_field").value = name;
                        </script>

                    </div>

                </div>
            </div>
        </section>
    {% else %}
        <img src="{% static 'images/access-denied.png' %}" alt="Access Denied">
    {% endif %}

{% endblock %}
