{% extends '_layout.html' %}
{% load static %}

{% block title %}
    Editing {{ post.title }}
{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <section id="page-header">
                <div class="row current-cat">
                    <div class="col-full">
                        <h1>Edit your post</h1>
                    </div>
                </div>
            </section>
            <section id="bricks" class="with-top-sep">
                <div class="row">
                    <div class="col-twelve">
                        <div class="primary-content">
                            <div class="form-field">
                                <div class="form-group">
                                    <form method="POST" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        {{ form.media }}
                                        {{ form.as_p }}
                                        <button class="btn">Save Changes</button>
                                        <button class="btn" href="{% url 'post-detail-url' post.slug %}">Back</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% else %}
            <p class="tags">You are not allowed to EDIT someone's post :///</p>
        {% endif %}
    {% else %}
        <img src="{% static 'images/access-denied.png' %}" alt="Access Denied">
    {% endif %}
{% endblock %}
